

	

	.Header{
		height: 700px;
		width: 500px;
		background-color:#636262;
		margin-left: 20px;
		margin-top: 20px;
		margin-right: 20px;
        float: right;
	}

	.main{
		display: flex;
	}
	.navigation{
		
		height: 150px;
		width: 1720px;
		background-color: #636262;
		margin-top: 20px;
		margin-right: 20px;
		
	}

	.body{
		height: 527px;
		width: 1720px;
		background-color: #636262;
		margin-top: 20px;
		margin-right: 20px;
        
	}

	.footer{
		height: 150px;
		width: 98.1%;
		margin: 20px;
		
		background-color: #636262;
	}

	.image{
		height: 100px;
		width: auto;
		background-color: #636262;
        margin-right: 20px;
        margin-left: 20px;
        
	}

	
		
	


	
