<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/layout3.css">
</head>
<body>
  <div class="image">
    <h1 align="center">LOGO</h1><br><br>
  </div>
    
  


   

<div class="main">

    <div class="Header" >
        <H1 align="center">HEADER</H1>
        
      </div>
  
    <div>
        <div class="navigation">
            <h1 align="center">NAVIGATION</h1>
        </div>
      
      
        <div class="body">
            <h1 align="center">BODY</h1>
        </div>
    </div>
</div>

<div class="footer">
  <h1 align="center">FOOTER</h1>
</div>
   
</body>
</html>