<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="CSS/layout1.css">
</head>
<body>
  <div class="image">
    <h1 align="center">LOGO</h1><br><br>
  </div>
    
  <div class="menubar" align="center">
    <ul>
   <a href="https://silveroakuni.ac.in/"><li>Home</li></a>
   <li>about =
    <ul>
      <a href="#"><li>Nature</li></a>
    <a href="#"><li>Romantic</li></a>
    <a href="#"><li>Love</li></a>
    </ul>
  </li>
    <li>Wallpaper =
      <ul>
        <a href="#"><li>Nature</li></a>
      <a href="#"><li>Romantic</li></a>
      <a href="#"><li>Love</li></a>
      </ul>
    </li> 
    <li>Team Work =
      <ul>
        <a href="#"><li>Project 1</li></a>
        <a><li>Project 2 =
          <ul>
            <li>Module 2</li>
            <li>Module 2</li>
            <li>Module 3</li>
            <li>Module 4</li>
          </ul>
        </li>
        <li>Project 3</li>
        </a>
    </ul>
    </li>
    <a href="#"><li>Feedback</li></a>
    <a href="#"><li>Contact us</li></a>
    <a href="#"><li>About us</li></a>
    <a href="#"><li>Blog</li></a>
  </ul>
    </div>


    <div class="Header" >
      <H1 align="center">HEADER</H1>
      
    </div>

<div class="main">
  <div class="sidebar">
    <h1 align="center">SIDEBAR</h1>
  </div>
  
  <div class="body">
    <h1 align="center">BODY</h1>
  </div>
</div>

<div class="footer">
  <h1 align="center">FOOTER</h1>
</div>
   
</body>
</html>